doctype html
html(lang="en")
    head
        title Schakeling
        link( type="text/css"
            , rel="stylesheet"
            , href="style.css" )
    body
        script( type="text/javascript" )
          include /schakeling.js